body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
header {
    background-color: rgb(207, 82, 235);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img {
    height: 60px;
}
nav a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}
nav a:hover {
    color: #ff4d4d;
}
.mural {
    padding: 20px;
    text-align: center;
}
.mural h2 {
    margin-bottom: 20px;
    font-weight: bold; 
    font-size: 24px; 
}
.tarefa {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.quadrado {
    width: 200px;
    height: auto;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}
.titulo {
    margin-bottom: 10px;
    font-weight: bold; 
    font-size: 16px;
}
.lista-tarefas {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}
.lista-tarefas li {
    margin-bottom: 5px;
}
.imagem {
    margin-top: 20px; 
    text-align: center; 
}